/*body{
    width: 980px;
    margin: auto;
}*/
.profile-header {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
}

.profile-header div.headshot-container {
  /* border: 1px solid; */
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-header div.headshot-container img {
  max-width: -webkit-fill-available;
}

.name-container {
  flex: 1;
  margin-left: 15px;
  text-align: justify;
}
.name-container h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-right: 3px;
}
.name-container h3 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.name-container h6 {
  margin-top: 1px;
  margin-bottom: 1px;
  color: rgb(145, 145, 145);
}

.name-container div {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
}

.name-container div span:first-child {
  padding-right: 20px;
}

.follow-container button {
  border: 1px solid rgb(196, 196, 196);
  padding: 20px;
}
