nav{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    /* border: 1px solid; */
    padding-left: 50px;
    -webkit-box-shadow: 0px 14px 49px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 49px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 49px -27px rgba(0,0,0,0.75);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
}
nav ul a{
    text-decoration: none;
    color: #000;
}
nav ul li{
    list-style: none;
    cursor: pointer;
}
nav ul a{
    display: grid;
    place-content: center;
    border-radius: 4px;
}
nav ul a.active{
    border: 1px solid rgba(179, 179, 179, 0.38);
}
nav label.MuiInputLabel-formControl{
    top: -8px;
}
nav .MuiFormControl-marginNormal{
    /* margin: 7px; */
}
#outlined-basic{
    padding: 10px;
}

nav div.thumbnail{
    /* border: 1px solid; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: grid;
    place-self: center;
}

nav div img{
    width: 90px;
    margin-left: -30px;
}