nav ul a.active{
    border: 1px solid rgba(179, 179, 179, 0.38);
}
nav label.MuiInputLabel-formControl{
    top: -8px;
}
nav .MuiFormControl-marginNormal{
    /* margin: 7px; */
}
#outlined-basic{
    padding: 10px;
}

nav div.thumbnail{
    /* border: 1px solid; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: grid;
    place-self: center;
}

nav div img{
    width: 90px;
    margin-left: -30px;
}